@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  font-family: "TTLakes";
}
  .container {
  max-width: 1120px;
  margin: 0 auto;
}

.swiper {
   margin: 16px auto;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(3, minmax(72px, 1fr));
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
 max-width: 240px;
 max-height: 72px;
   border-radius: 10px;
   padding: 16px;
   margin: 10px;
   background-color: #fff;
   border: solid 1px #EAEAEA;
}

h1 {
  margin: 16px 16px 0px 16px;
  color: #7E7E82;
  font-weight: 400;
  font-size: 16px;
  text-transform:uppercase;
}

@media (max-width: 768px) {
.container {
  width: 90%;
  margin: auto;
}

.swiper-wrapper {
 display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(3, minmax(72px, 1fr));
}

.swiper-slide {
  max-width: 224px;
}

}

@media (max-width: 320px) {
.container {
  width: 320px;
  margin: auto;
}

.swiper-wrapper {
 margin: 16px auto;
 
}

.swiper-wrapper {
 display: flex;
}

.swiper-pagination {
  margin-top: 16px;

}

ul li {
 list-style: none;
}

button {
  display: none;
}
}

