@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
html,
body {
  width: 320px;
  height: 100%;
  margin: auto;
}

body {
  font-family: "TTLakes";
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

.swiper-slide {
  max-width: 240px;
  height: 72px;
  margin: 10px 0px 30px 0px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #eaeaea;
}

.swiper-slide img {
  margin: 10px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: none;
}

.showbutton,
.hidebutton {
  display: none;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  html,
  body {
    width: 768px;
    margin: auto;
  }

  .swiper-wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  button {
    display: flex;
  }
  .swiper {
    width: auto;
    height: 200px;
  }
}

@media (min-width: 1120px) {
  html,
  body {
    width: 1120px;
    margin: auto;
  }

  .swiper-wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  button {
    display: flex;
  }
  .swiper {
    width: auto;
    height: 200px;
  }
}
